<%= form_with(model: endpoint) do |form| %>
  <% if endpoint.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(endpoint.errors.count, "error") %> prohibited this endpoint from being saved:</h2>

      <ul>
        <% endpoint.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :source_code, style: "display: block" %>
    <%= form.text_area :source_code,  :rows => 40, :cols => 120  %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
